In [2]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import moviepy.editor as mp

In [4]:
df_censo_2010: DataFrame = pd.read_csv("censo_2010.csv")

In [5]:
df_censo_2010

,GEO1_BR2010,GEO2_BR2010,PERWT,AGE,AGE2,SEX,RACE,EDATTAIN,EDATTAIND,INCTOT
0,11,11022,8.71,22,12,1,51,2,212,1000
1,11,11022,8.71,17,4,2,51,2,212,0
2,11,11022,9.82,38,15,1,10,2,212,1800
3,11,11022,9.50,54,18,1,51,1,110,700
4,11,11022,9.50,44,16,2,10,1,120,419
...,...,...,...,...,...,...,...,...,...,...
20635467,53,53001,27.54,34,14,2,10,2,212,600
20635468,53,53001,27.54,13,3,1,51,1,130,65
20635469,53,53001,27.54,12,3,2,51,1,130,0
20635470,53,53001,27.54,66,21,1,10,1,110,1020
20635471,53,53001,27.54,6,2,2,10,1,120,9999999

In [4]:
df_censo_2010.isnull().sum()

COUNTRY        0
YEAR           0
SAMPLE         0
SERIAL         0
HHWT           0
GEO1_BR2010    0
GEO2_BR2010    0
PERNUM         0
PERWT          0
AGE            0
AGE2           0
SEX            0
RACE           0
EDATTAIN       0
EDATTAIND      0
INCTOT         0
dtype: int64

Data Frame São joão de Meriti

In [5]:
numero_sao_joao = 33006

In [6]:
df_sao_joao = df_censo_2010[df_censo_2010['GEO2_BR2010'] == numero_sao_joao]
df_sao_joao

,COUNTRY,YEAR,SAMPLE,SERIAL,HHWT,GEO1_BR2010,GEO2_BR2010,PERNUM,PERWT,AGE,AGE2,SEX,RACE,EDATTAIN,EDATTAIND,INCTOT
11793814,76,2010,76201001,3367458000,7.68,33,33006,1,7.68,37,15,1,10,2,212,800
11793815,76,2010,76201001,3367458000,7.68,33,33006,2,7.68,41,16,2,10,2,212,510
11793816,76,2010,76201001,3367458000,7.68,33,33006,3,7.68,38,15,1,10,2,212,600
11793817,76,2010,76201001,3367458000,7.68,33,33006,4,7.68,39,15,1,10,2,212,950
11793818,76,2010,76201001,3367458000,7.68,33,33006,5,7.68,40,16,1,10,2,212,1200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11838069,76,2010,76201001,3381580000,9.75,33,33006,4,9.75,5,2,1,51,1,110,9999999
11838070,76,2010,76201001,3381580000,9.75,33,33006,5,9.75,25,13,2,20,1,120,200
11838071,76,2010,76201001,3381581000,11.15,33,33006,1,11.15,42,16,2,51,2,221,1530
11838072,76,2010,76201001,3381581000,11.15,33,33006,2,11.15,14,3,1,51,2,212,510
11838073,76,2010,76201001,3381582000,9.75,33,33006,1,9.75,69,21,2,51,1,120,510

In [7]:
contagem_idades = df_sao_joao['AGE2'].value_counts()
contagem_idades

AGE2
3     3929
4     3725
13    3641
12    3586
14    3584
2     3305
15    3227
16    3136
17    2993
1     2991
18    2831
19    2184
20    1794
21    1207
22     946
23     600
24     339
25     242
Name: count, dtype: int64

In [8]:
idade_dependente_crianca = [1,2,3,4]

In [9]:
soma_idade_dependente_crianca = contagem_idades[contagem_idades.index.isin(idade_dependente_crianca)].sum()
soma_idade_dependente_crianca

np.int64(13950)

In [10]:
idade_dependente_idoso = [21,22,23,24]

In [11]:
soma_idade_dependente_idoso = contagem_idades[contagem_idades.index.isin(idade_dependente_idoso)].sum()
soma_idade_dependente_idoso

np.int64(3092)

In [13]:
idade_produtiva = soma_idade_total - soma_idade_dependente_crianca + soma_idade_dependente_idoso
idade_produtiva

np.int64(33402)

In [14]:
razao_de_suporte = idade_produtiva / (soma_idade_dependente_crianca + soma_idade_dependente_idoso)
razao_de_suporte

np.float64(1.9599812228611666)