In [2]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import moviepy.editor as mp

In [3]:
df_censo_2010: DataFrame = pd.read_csv("C:\\Users\\gisel\\Documents\\ipumsi_00003.csv")

In [4]:
df_censo_2010

,COUNTRY,YEAR,SAMPLE,SERIAL,HHWT,GEO1_BR2010,GEO2_BR2010,PERNUM,PERWT,AGE,AGE2,SEX
0,76,2010,76201001,1000,8.71,11,11022,1,8.71,22,12,1
1,76,2010,76201001,1000,8.71,11,11022,2,8.71,17,4,2
2,76,2010,76201001,2000,9.82,11,11022,1,9.82,38,15,1
3,76,2010,76201001,3000,9.50,11,11022,1,9.50,54,18,1
4,76,2010,76201001,3000,9.50,11,11022,2,9.50,44,16,2
...,...,...,...,...,...,...,...,...,...,...,...,...
20635467,76,2010,76201001,6192502000,27.54,53,53001,4,27.54,34,14,2
20635468,76,2010,76201001,6192502000,27.54,53,53001,5,27.54,13,3,1
20635469,76,2010,76201001,6192502000,27.54,53,53001,6,27.54,12,3,2
20635470,76,2010,76201001,6192502000,27.54,53,53001,7,27.54,66,21,1
20635471,76,2010,76201001,6192502000,27.54,53,53001,8,27.54,6,2,2

In [5]:
df_censo_2010.isnull().sum()

COUNTRY        0
YEAR           0
SAMPLE         0
SERIAL         0
HHWT           0
GEO1_BR2010    0
GEO2_BR2010    0
PERNUM         0
PERWT          0
AGE            0
AGE2           0
SEX            0
dtype: int64

Data Frame São joão de Meriti

In [8]:
numero_sao_joao = 33006

In [19]:
df_sao_joao = df_censo_2010[df_censo_2010['GEO2_BR2010'] == numero_sao_joao]
df_sao_joao

,COUNTRY,YEAR,SAMPLE,SERIAL,HHWT,GEO1_BR2010,GEO2_BR2010,PERNUM,PERWT,AGE,AGE2,SEX
11793814,76,2010,76201001,3367458000,7.68,33,33006,1,7.68,37,15,1
11793815,76,2010,76201001,3367458000,7.68,33,33006,2,7.68,41,16,2
11793816,76,2010,76201001,3367458000,7.68,33,33006,3,7.68,38,15,1
11793817,76,2010,76201001,3367458000,7.68,33,33006,4,7.68,39,15,1
11793818,76,2010,76201001,3367458000,7.68,33,33006,5,7.68,40,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11838069,76,2010,76201001,3381580000,9.75,33,33006,4,9.75,5,2,1
11838070,76,2010,76201001,3381580000,9.75,33,33006,5,9.75,25,13,2
11838071,76,2010,76201001,3381581000,11.15,33,33006,1,11.15,42,16,2
11838072,76,2010,76201001,3381581000,11.15,33,33006,2,11.15,14,3,1
11838073,76,2010,76201001,3381582000,9.75,33,33006,1,9.75,69,21,2

In [25]:
contagem_idades = df_sao_joao['AGE2'].value_counts()
contagem_idades

AGE2
3     3929
4     3725
13    3641
12    3586
14    3584
2     3305
15    3227
16    3136
17    2993
1     2991
18    2831
19    2184
20    1794
21    1207
22     946
23     600
24     339
25     242
Name: count, dtype: int64

In [26]:
idade_dependente_crianca = [1,2,3,4]

In [29]:
soma_idade_dependente_crianca = contagem_idades[contagem_idades.index.isin(idade_dependente_crianca)].sum()
soma_idade_dependente_crianca

np.int64(13950)

In [32]:
idade_dependente_idoso = [21,22,23,24]

In [33]:
soma_idade_dependente_idoso = contagem_idades[contagem_idades.index.isin(idade_dependente_idoso)].sum()
soma_idade_dependente_idoso

np.int64(3092)

In [34]:
soma_idade_total = contagem_idades.sum()
soma_idade_total

np.int64(44260)

In [36]:
idade_produtiva = soma_idade_total - soma_idade_dependente_crianca + soma_idade_dependente_idoso
idade_produtiva

np.int64(33402)

In [38]:
razao_de_suporte = idade_produtiva / (soma_idade_dependente_crianca + soma_idade_dependente_idoso)
razao_de_suporte

np.float64(1.9599812228611666)